h1 {
    color: blue;
}

.titulo {
    font-size: 40px;
    text-transform: uppercase;
}

#titulo-2 {
    color: red;
}
.btn {
    border-radius: 10px;
    outline: none;
    background: transparent;
    padding: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 10px;
}

.btn-sucess {
    background-color: green;
    color: #FFF;
}   
.btn-danger {
    background-color: red;
    color: #FFF;
}
.btn-warning {
    background-color: yellow;
    color: black;
}